body {
    font: 100% sans-serif;
    color: #676565;
}

.application_title {
    font-size: 210%;
    margin: 2px 20px;
}

.application_form {
    max-width: 800px;
    padding: 20px 20px 15px 20px;
    background-color: #feeed6;
}

.input_block label {
    font-weight: bold;
}

.input_block input,
.input_block textarea,
.input_block button {
    display: block;
    box-sizing: border-box;
    border: none;
    padding: 10px 14px;
}

.input_block input,
.input_block textarea {
    margin: 8px 0 20px 0;
    width: 100%;
}

.input_block textarea {
    height: 128px;
}

.prompt,
.input_block input::placeholder,
.input_block textarea::placeholder {
    font: 100% sans-serif;
    color: #9e9e9e;
}

.input_block button {
    margin-top: 15px;
    margin-left: auto;
    background-color: #378db2;
    color: white;
    font-weight: bold;
}