<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="Vue_ToDoList_styles.css">
    <title>TODO List</title>
</head>
<body>

<div id="noteList" class="container">
    <h1 class="application_title">TODO List</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="input-group">
                <input class="form-control"
                       :class="{ invalid: isInputDataInvalid }"
                       type="text"
                       v-model="inputText"
                       placeholder="Print text here"
                       @focus="cleanInputClass">
                <div class="input-group-append">
                    <button class="btn btn-outline-info"
                            type="button"
                            @click="addNote">
                        Add
                    </button>
                </div>
            </div>
        </li>
        <note-li v-for="note in notes"
                 :key="note.id"
                 :note="note"
                 @remove-note="removeNote"
                 @change-note="changeNote">
        </note-li>
    </ul>
</div>

<script id="note-tr-template" type="text/x-template">
    <li class="list-group-item">
        <div class="input-group">
            <input class="form-control"
                   :class="{ invalid: isInputDataInvalid }"
                   type="text"
                   ref="draftInput"
                   v-model="draftNote"
                   :readonly="!isEditNow"
                   placeholder="Print text here"
                   @blur="cancelChangesIfPossible">
            <template v-if="isEditNow">
                <div class="input-group-append"
                     @mouseenter="switchConfirmationPermission"
                     @mouseleave="switchConfirmationPermission">
                    <button class="btn btn-outline-secondary"
                            type="button"
                            @click="changeThisNote">
                        Confirm
                    </button>
                    <button class="btn btn-outline-secondary"
                            type="button"
                            @click="cancelChanges">
                        Cancel
                    </button>
                </div>
            </template>
            <template v-else>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary"
                            type="button"
                            @click="editThisNote">
                        Edit
                    </button>
                    <button class="btn btn-outline-secondary"
                            type="button"
                            @click="deleteThisNote">
                        Delete
                    </button>
                </div>
            </template>
        </div>
    </li>
</script>

<script src="./node_modules/jquery/dist/jquery.js"></script>
<script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="./node_modules/vue/dist/vue.js"></script>
<script src="Vue_ToDoList_script.js"></script>
</body>
</html>