.course {
    max-width: 820px;
    padding: 4px 12px;
    background: #feeed6;
    font: 120% sans-serif;
    color: #656565;
}

.course_description {
    margin-top: 15px;
}

.course p {
    margin-top: 0.5em;
}

.course_description p {
    margin-top: 10px;
    text-indent: 1em;
    text-align: justify;
    font-size: 0.9em;
    line-height: 1.4em;
}

.course_header {
    margin-bottom: 0.35em;
    font-size: 1.67em;
    text-transform: uppercase;
}

.par_starter {
    color: #378DB2;
    font-weight: bold;
}

.old_price {
    text-decoration: line-through;
}