.table_of_staff {
    text-align: left;
    font: 130% "Open Sans", sans-serif;
}

.table_of_staff thead {
    background-color: #3498db;
    color: white;
    font-weight: bold;
    font-size: 95%;
}

.table_of_staff tbody tr:nth-child(odd) {
    background-color: #eeeeee;
    color: #1c1c1c
}

.table_of_staff th,
.table_of_staff td {
    border: 2px solid #d5d5d5;
    padding: 11px 10px;
    box-sizing: border-box;
}

.table_of_staff th:nth-child(1) {
    width: 175px;
}

.table_of_staff th:nth-child(2) {
    width: 173px;
}

.table_of_staff th:nth-child(3) {
    width: 308px;
}

.table_of_staff th:nth-child(4) {
    width: 198px;
}