.new-text, .note {
    width: 300px;
}

.note {
    font-weight: normal;
    text-align: left;
}
.note::before {
    content: '• ';
}

.edit-text {
    border: none;
    width: 290px;
}

.invalid {
    border-color: red;
}
.invalid::placeholder {
    color: red;
}

.create-button {
    width: 120px;
}
.usual-button {
    box-sizing: border-box;
    width: 60px;
    height: 100%;
}