body {
    font: 110% "Open Sans", sans-serif;
    color: #656565;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
}

.application_title {
    margin: 0.35em;
    font-size: 1.67em;
}

.input {
    font-weight: normal;
    text-align: left;
}

.invalid {
    border-color: red;
}
.invalid::placeholder {
    color: red;
}

.convert-button {
    box-sizing: border-box;
    height: 100%;
    width: 200px;
    margin-left: auto;
    background-color: #378db2;
    color: white;
    font-weight: bold;
}
.convert-button:hover {
    background: #489fc3;
}